#product {
    width: 80%;
    height: 60%;
}

#product-card {
    width: 240px;
    height: 240px;
    overflow: hidden;
}
#display-page {
    display: flex;
    overflow-y: auto;
    padding: 5px; /* Optional: Add padding for better appearance */
    scroll-behavior: smooth;
}


#title {
    font-size: 10px;
    height: 90%;
    overflow: hidden;
}

#card-body {
    height: 30%;
    width: 80%;
}