#product {
    width: 80%;
    height: 60%;
}


#product-card {
    width: 240px;
    height: 240px;
    overflow: hidden;
    margin: 3px;
}
#display-page {
    display: flex;
    flex-wrap: wrap;
    gap: 6px;
    padding: 5px;
    width: 100%;
}


#title {
    font-size: 10px;
    height: 90%;
    overflow: hidden;
}

#card-body {
    width: 80%;
}


.product-col {
    flex: 1 1 150px;
    max-width: calc(33.333% - 16px);
    align-content: center;
    justify-content: center;
    box-sizing: border-box;
    background-color: transparent;
    border: none;
}


@keyframes bounce {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(20px);
    }

    100% {
        transform: translateY(0);
    }
}

.product-col:hover {
    background-color: transparent;
    animation:bounce 1.5s linear infinite;
}

