#product {
    width: 80%;
    height: 60%;
}


#product-card {
    width: 240px;
    height: 240px;
    overflow: hidden;
    margin: 3px;
}
#display-page {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    padding: 5px;
    width: 100%;
}


#title {
    font-size: 10px;
    height: 90%;
    overflow: hidden;
}

#card-body {
    height: 30%;
    width: 80%;
}


.product-col {
    flex: 1 1 300px;
    max-width: calc(33.333% - 16px);
    box-sizing: border-box;
}

