#product-image {
    width: 300px;
    height: 350px;
}

#view-card {
    display: flex;
    flex-direction: row;
}

#description {
    font-weight: bolder;
    font-size: 16px;
}

#price-tag {
    display: flex;
    justify-content: flex-start;
    font-size: large;

}